# Application Environment
NODE_ENV=production
PORT=8080
MONGO_URI=mongodb+srv://fakeuser:fakepassword@cluster0.mongodb.net/fakedb?retryWrites=true&w=majority

# Security Secrets
ACCESS_TOKEN_SECRET=fakeaccesssecretfakeaccesssecretfakeaccesssecretfakeaccesssecretfake123

# Mail Configuration
MAIL_EMAIL=fakeemail@fakeprovider.com
MAIL_PASSWORD=fakepassword123
MAIL_SERVICE_PROVIDER=fakemail
ADMIN_EMAIL=admin@fakeprovider.com
ADMIN_PORTAL_URL=https://admin.fakeprovider.com